@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';
body {
  margin: 0px;
  background-attachment: fixed;
  background-image: linear-gradient( rgba(229, 57, 53, 0.75), rgba(229, 57, 53, 0.75) ), url('https://booligoosh.github.io/rubiks-time/beach.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
}
h1 {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 9em;
  font-weight: 100;
}
h2 {
  font-size: 5em;
  margin-top: 0;
  font-weight: 100;
}
#numbers {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 9em;
  font-weight: 100;
}
#gear {
  position: fixed;
  top: 1em;
  right: 1em;
}
#stats {
  width: 32px;
  height: auto;
  position: fixed;
  top: 1em;
  left: 1em;
}
span h2 {
  display: inline;
  padding: 0.25em;
  margin-bottom: 0;
}
span img {
  height: 2.5em;
  width: auto;
}
hr {
  border-color: white;
  margin-left: 5em;
  margin-right: 5em;
  border-style: solid;
}
#screen3 h2 {
  font-size: 4em;
}
#screen4 h2 {
  margin-bottom: 0.5em;
}
#screen1 {
  display: block;
}
#screen2 {
  display: none;
}
#screen3 {
  display: none;
}
#screen4 {
  display: none;
}
#screen5 {
  display: none;
}
